{% extends "base.html" %}
{% block content %}
    {{ super() }} 
    <h1>Hi, {{ user.nickname }}!</h1>
    <h1>Hi, {{ user.unknown }}!</h1>
    {% for post in posts %}
    <div><p>{{ post.author.nickname }} says: <b>{{ post.body }}</b></p></div> 
    {% endfor %}
{% endblock %}
